// Theme 1

$background-main-theme-1: hsl(222, 26%, 31%);
$background-toggle-theme-1: hsl(223, 31%, 20%);
$background-screen-theme-1: hsl(224, 36%, 15%);

$key-background-theme-1: hsl(225, 21%, 49%);
$key-shadow-theme-1: hsl(224, 28%, 35%);

$red-key-theme-1: hsl(6, 63%, 50%);
$darkRed-key-theme-1: hsl(6, 70%, 34%);

$orange-key-background-theme-1: hsl(30, 25%, 89%);
$orange-key-shadow-theme-1: hsl(28, 16%, 65%);

$text-theme-1: hsl(221, 14%, 31%);
$white: hsl(0, 0%, 100%);

//Theme 2 

$background-main-theme-2: hsl(0, 0%, 90%);
$background-toggle-theme-2: hsl(0, 5%, 81%);
$background-screen-theme-2: hsl(0, 0%, 93%);

$key-background-theme-2: hsl(185, 42%, 37%);
$key-shadow-theme-2: hsl(185, 58%, 25%);

$orange-key-theme-2: hsl(25, 98%, 40%);
$darkOrange-key-theme-2: hsl(25, 99%, 27%);

$yellow-key-background-theme-2: hsl(45, 7%, 89%);
$greyishOrange-key-shadow: hsl(35, 11%, 61%);

$text-theme-2: hsl(60, 10%, 19%);

//Theme 3

$background-main-theme-3: hsl(268, 75%, 9%);
$background-toggle-theme-3: hsl(268, 71%, 12%);

$key-background-theme-3: hsl(281, 89%, 26%);
$key-shadow-theme-3: hsl(285, 91%, 52%);

$key-background-cyan-toggle-theme-3: hsl(176, 100%, 44%);
$key-background-cyan-shadow-theme-3: hsl(177, 92%, 70%);

$violet-key-background-theme-3: hsl(268, 47%, 21%);
$mangeta-key-shadow-theme-3: hsl(290, 70%, 36%); 

$yellow-text: hsl(52, 100%, 62%);
$darkBlue-text: hsl(198, 20%, 13%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    line-height: 1.6;
    display: flex;
    margin: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-main-theme-1;
    color: $white;
}

button {
    font-size: 32px;
}

//theme changer
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    resize: none;

    h2 {
        position: relative;
        right: 105%;
    }
}

.switch-numbers {
    display: flex;
    position: absolute;
    font-size: 24px;
    top: -2rem;
    justify-content: space-around;
    word-spacing: 5rem;
    gap: 1.5rem;
}

.switch {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    background-color: $background-toggle-theme-1;

    input[type = "radio"] {
        cursor: pointer;
        opacity: 0;
    }

    input[type = "radio"]:first-of-type {
        right: 22px;
    }

    input[type = "radio"]:nth-of-type(2){
        right: -10px;
    }

    input[type = "radio"]:last-of-type {
        right: -42px;
    }
}

.switch-radios {
    position: relative;
}

.switch-radios > * {
    position: absolute;
}


.ball {
    background: $red-key-theme-1;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 3px;
    transition: all .5s ease;
}

body.first {
    background-color: $background-main-theme-1;
}

//section 2 
body.second {
    background-color: $background-main-theme-2;
    color: $text-theme-2;
}

body.second .switch {
    background-color: $background-screen-theme-2;
}

body.second .calculator {
    background-color: $background-toggle-theme-2;
}

body.second .screen {
    background-color: $background-screen-theme-2;
}

body.second .specialBtn {
    background-color: $key-background-theme-2;
}

body.second #equal {
    background-color: $orange-key-theme-2;
}

body.second input[type='button']{
    box-shadow: 0 5px $greyishOrange-key-shadow;
}

body.second .ball {
    background-color: $orange-key-theme-2;
}

body.second .screen input {
    background-color: $background-screen-theme-2;
    color: $text-theme-2;
}

//section 3 
body.third {
    background-color: $background-main-theme-3;
    color: $yellow-text;
}

body.third .switch {
    background-color: $background-toggle-theme-3;
}

body.third .calculator {
    background-color: $background-toggle-theme-3;
}

body.third .screen {
    background-color: $background-main-theme-3;
}

body.third .specialBtn {
    background-color: $key-background-theme-3 !important;
}

body.third #reset {
    color: $white;
}

body.third #equal {
    background-color: $key-background-cyan-toggle-theme-3;
    box-shadow: 0 5px $key-background-cyan-shadow-theme-3;
}

body.third .ball {
    background-color: $key-background-cyan-toggle-theme-3;
}

body.third input[type='button']{
    background-color: $violet-key-background-theme-3;
    box-shadow: 0 5px $mangeta-key-shadow-theme-3;
    color: $yellow-text;
}

body.third .screen input {
    background-color: $background-main-theme-3;
    color: $yellow-text;
}

@media screen and (max-width: 975px) {
    .header {
        position: relative;
        left: 5rem;
        // h2 {
        //     position: relative;
        //     margin-left: -5rem;
        // }
    }
}

@media screen and (max-width: 800px) {
    .header {
        position: relative;
        left: 7rem;
    }
}

@media screen and (max-width: 700px) {
    .header {
        position: relative;
        left: 8.5rem;

        h2 {
            position: relative;
            left: -10rem;
        }

        h5 {
            position: relative;
            left: -3rem;
        }
    }

    .switch {
        position: relative;
        left: -2.5rem;
    }
}
//calculator

.screen {
    background-color: $background-screen-theme-1;
    width: 100%;
    padding: 5rem;
    border-radius: 10px;
    text-align: end;
    margin-bottom: 2rem;

    input {
        background-color: $background-screen-theme-1;
        border: none;
        color: $white;
        width: 50%;
        height: 5rem;
        font-size: 3.5rem;
    }
}

.calculator {
    background-color: $background-toggle-theme-1;
    width: 50%;
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;

    .row {
        position: relative;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 130%;
    }

    .five {
        display: flex;
        gap: -10rem;
    }

    input {
        border-radius: 10px;
        border: none;
        text-align: center;
        margin: 1rem;
        align-content: center;
        cursor: pointer;
        font-weight: 800;
    }

    input[type=button] {
        position: relative;
        gap: 5rem;
    }

    input:active {
        transform: translateY(4px);
    }

    .number {
        background-color: $orange-key-background-theme-1;
        box-shadow: 0 5px $orange-key-shadow-theme-1;
        color: $text-theme-1;
        width: 12.5%;
        padding: 1.5rem 0;
    }

    .delete {
        background-color: $key-background-theme-1;
        box-shadow: $key-shadow-theme-1;
        width: 12.5%;
        padding: 1.5rem 0;
    }

    .specialBtn {
        background-color: $key-background-theme-1;
        box-shadow: 0 5px $key-shadow-theme-1;
        color: $white;
    }

    .bottomBtn {
        width: 75%;
        padding: 1rem .5rem;
    }

    #equal {
        background-color: $red-key-theme-1;
        box-shadow: 0 5px $darkRed-key-theme-1;
        color: $white;
    }
}

@media screen and (max-width: 975px) {
    .calculator {
        
        .row {
            margin-left: -1rem;
        }
    }
}

@media screen and (max-width: 850px) {    
        .row {
            margin-left: -1.5rem;

            input[type=button]{
                width: 2rem;
            }
        }
}

@media screen and (max-width: 682px) {
    .calculator {
 
        .row {
            display: flex;

            input[type=button]{
                width: 5rem;
            }
        }
    }
}